<template>
  <div>
    <b-jumbotron
      header="Welcome to Chuck Norris jokes!"
      lead="This is a simple demo to demostrate how to have a responsive, server-side rendered Nuxt.JS website hosted in a lambda function."
    >
      <p>For more information visit website</p>
      <b-button variant="primary" href="#">More Info</b-button>
    </b-jumbotron>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'default',
  async asyncData({ params }) {
    const { data } = await axios.get('https://api.chucknorris.io/jokes/random')
    return { chosenOne: data.value }
  }
}
</script>

<style scoped>
.indexMargin {
  margin: 15px;
}
</style>
