<template>
  <!-- <div class="header-container">
    <header class="wrapper clearfix">
      <h1 class="title">Check Norris Jokes demo</h1>
      <nav>
        <ul>
          <li>
            <nuxt-link :to="menu.home">Home</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="menu.categories">Categories</nuxt-link>
          </li>
        </ul>
      </nav>
    </header>
  </div>-->
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand :href="menu.home">CN Jokes</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item :href="menu.categories">Categories</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-2"
              placeholder="Search"
            ></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit"
              >Search</b-button
            >
          </b-nav-form>

          <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
const baseUrl = process.env.STAGE ? `/${process.env.STAGE}/` : '/'

export default {
  data() {
    return {
      menu: {
        home: baseUrl,
        categories: `${baseUrl}categories`
      }
    }
  }
}
</script>
