<template>
  <div>
    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          <header>
            <h1>Random joke for category "{{ category }}"</h1>
            <p>
              This is a simple demo to demostrate how to have a responsive,
              server-side rendered Nuxt.JS website hosted in a lambda function.
            </p>
          </header>
        </article>
        <aside>{{ joke }}</aside>
      </div>
      <!-- #main -->
    </div>
    <!-- #main-container -->

    <div class="footer-container">
      <footer class="wrapper">
        <h3>footer</h3>
      </footer>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'default',
  async asyncData({ params }) {
    const { data } = await axios.get(
      `https://api.chucknorris.io/jokes/random?category=${params.category}`
    )

    return {
      category: params.category,
      joke: data.value
    }
  }
}
</script>
