<template>
  <div>
    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          <header>
            <h1>Pick a category</h1>
            <p>
              This is a simple demo to demostrate how to have a responsive,
              server-side rendered Nuxt.JS website hosted in a lambda function.
            </p>
          </header>
        </article>
        <aside>
          <ul>
            <li v-for="category in categories" :key="category">
              <nuxt-link :to="`${baseUrl}categories/${category}`">{{
                category
              }}</nuxt-link>
            </li>
          </ul>
        </aside>
      </div>
      <!-- #main -->
    </div>
    <!-- #main-container -->

    <div class="footer-container">
      <footer class="wrapper">
        <h3>footer</h3>
      </footer>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const baseUrl = process.env.STAGE ? `/${process.env.STAGE}/` : '/'

export default {
  layout: 'default',
  data() {
    return {
      baseUrl
    }
  },
  async asyncData() {
    const { data } = await axios.get(
      'https://api.chucknorris.io/jokes/categories'
    )
    return {
      categories: data
    }
  }
}
</script>

<style scoped>
h1 {
  color: blueviolet;
}
</style>
